@import "../../style/Color.scss";
@import "../../style/FontSize.scss";

.drop_down {
    width: 100%;
    background-color: #E8E8E8;
    color: #000000;
    border-color: #E8E8E8;
    border-radius: 10px;
}

.main_dropdown{
    padding-top: 7px;
}

.paragraph-label {
    padding-top: 5px;
    text-align: center;
}

.check-class {
    padding-top: 10px;
}

.course-add-container {
    border: 1px solid #E8E8E8;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.free_class_label {
    padding-top: 12px;
    color: $freeClass;
    font-weight: bold;
}

@media all and (device-width: 768px) and (device-height: 1024px) {
    .columns {
        width: 50%;
    }
}

@media all and (device-width: 1024px) and (device-height: 1366px) {
    .columns {
        width: 50%;
    }
}

.three_columns {
    margin-left: auto;
    margin-right: auto;
}
