@import "../../style/Color.scss";
@import "../../style/FontSize.scss";

.click-for-upload {
    font-size: $clickUpload;
    text-align: center;
    font-weight: $boldValue;
    color: $UploadText;
}

.instruction-text {
    text-align: center;
    font-size: 15px;
    color: $InstructionClickUpload;
}

.document1 {
    display: flex;
    justify-content: center;
}

.document {
    display: flex;
    justify-content: start;
}

.document2 {
    display: flex;
    justify-content: end;
}


@media screen and (max-width: 600px) {
    .document-upload {
        padding-bottom: 30px;
    }
    .document1 {
        display: flex;
        justify-content: center;
    }
    
    .document {
        display: flex;
        justify-content: center;
    }
    
    .document2 {
        display: flex;
        justify-content: center;
    }
}

