@import "../../style/Color.scss";
@import "../../style/FontSize.scss";

.click-for-upload {
  font-size: $clickUpload;
  text-align: center;
  font-weight: $boldValue;
  color: $UploadText;
  cursor: pointer;
  bottom: 2px;
}
.card-header {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: #6b6b6b;
}

.card_width {
  width: 100%;
  height: 180px;
}

input[type="file"] {
  display: none;
}

.show_image {
  position: relative;
}

.progress {
  height: 180px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.show_image img {
  height: 180px;
  width: 100%;
  display: block;
}

.show_image .image_delete {
  position: absolute;
  font-size: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.pic_upload {
  border: none;
  color: $UploadText;
  font-weight: 700;
  background-color: white;
}

.instruction-text {
  text-align: center;
  font-size: 15px;
  color: $InstructionClickUpload;
}

.text-regular {
  font-weight: 500;
}

.video_url_label {
  padding-top: 4px;
  padding-bottom: 6px;
}

@media screen and (max-width: 600px) {
  .card-align {
    margin-bottom: 30px;
  }
}
