.view_icon {
    color: rgb(255, 166, 0);
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.edit_icon {
    color: #008593;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.delete_icon {
    color: orangered;
    width: 30px;
    height: 20px;
    cursor: pointer;

}

.course_view_main {
    margin-top: 40px;
    margin-bottom: 40px;
}

.create_new_course {
    cursor: pointer;
}

.create_new_course:hover {
    color: cadetblue;
}

.header_class {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}