$header : #F0EEEE;
$TextHeading: #008593;
$TableHeading: #E7E7E7;
$TableText: #040303;
$AddMore: #008593;
$primaryBG: #F9F9F9;
$BoderRadius: #E8E8E8;
$BorderCollpase: #B8B8B8;
$UploadText: #00A4E7;
$InstructionClickUpload: #B8B8B8;