$header: #f0eeee;
$TextHeading: #008593;
$TableHeading: #e7e7e7;
$TableText: #040303;
$AddMore: #008593;
$primaryBG: #f9f9f9;
$BoderRadius: #e8e8e8;
$BorderCollpase: #b8b8b8;
$select: #b8b8b8;
$UploadText: #00a4e7;
$InstructionClickUpload: #b8b8b8;
$selectBackground: #ffffff;
$login: #b8b8b8;
$googleButton: #DD4D31;
$facebookButton: #4459B7;
$linkedInButton: #41A9D7;
$forgotSign: #00A4E7;
$submit: #008593;
$formHeading: #6B6B6B;
$freeClass: #FF7D48;
$freeClassText: #FFFFFF;
$upcomingText: #B8B8B8;
$upcomingCLass: #EEEEEE;
