
.kep-login-facebook {
    width: 50%;
    height: 50px;
    margin: auto;
}

.vertical {
    border-left: 2px solid rgba(153, 150, 150, 0.671);
    height: 200px;
    position:absolute;
    left: 50%;
}

@media only screen and (max-width: 767px) and (min-width: 10px)
{
    .vertical{ display:none; } 
}

.social-buttons {
    text-align: center;
}

h6 {
    text-align: center;
    color: rgba(153, 150, 150, 0.671);
}

.login-form {
    text-align: center;
}