@import "../../style/Color.scss";
@import "../../style/FontSize.scss";

.weeklyTime_div_3 {
    margin-top: 30px;
    padding: 37px 15px 37px 15px;
    background-color: $primaryBG;
    border: 1px solid $BoderRadius;
    border-radius: 10px;
    padding-inline-start: 2px;
  }

.vl {
    border-left: 6px solid green;
    height: 45px;
  }
