.card {
    border: none;
}

.height-width {
    min-height: 100px;
    max-height: 120px;
    overflow: hidden;
}

.card1 {
    border-radius: 12px;
    background-color: #008593;
}

.card2 {
    border-radius: 12px;
    background-color: #79b6bd;
}

.card3 {
    border-radius: 12px;
    background-color: #2c9fac;
}

.card4 {
    border-radius: 12px;
    background-color: #00A4E7;
}

.card5 {
    border-radius: 12px;
    background-color: #4db3db;
}

.card6 {
    border-radius: 12px;
    background-color: #0c8dc0;
}

.seven-number1 {
    background-color: #ffff;
    border-radius: 50%;
    font-size: 35px;
    padding: 15px;
    font-weight: 900;
    color: #008593;
}

.seven-number2 {
    background-color: #ffff;
    border-radius: 50%;
    font-size: 35px;
    padding: 15px;
    font-weight: 900;
    color: #79b6bd;
}

.seven-number3 {
    background-color: #ffff;
    border-radius: 50%;
    font-size: 35px;
    padding: 15px;
    font-weight: 900;
    color: #2c9fac;
}

.seven-number4 {
    background-color: #ffff;
    border-radius: 50%;
    font-size: 35px;
    padding: 15px;
    font-weight: 900;
    color: #00A4E7;
}

.seven-number5 {
    background-color: #ffff;
    border-radius: 50%;
    font-size: 35px;
    padding: 15px;
    font-weight: 900;
    color: #4db3db;
}

.seven-number6 {
    background-color: #ffff;
    border-radius: 50%;
    font-size: 35px;
    padding: 15px;
    font-weight: 900;
    color: #0c8dc0;
}

.free-class-2 {
    font-size: 25px;
    font-weight: bold;
    color: #ffff;
}

.small-text {
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
}

@media all and (device-width: 768px) and (device-height: 1024px) {
    .three-card {
        width: 440px;

    }
}
